{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h2>Read <br />"{{ haiku.title }}" <i class="fa-solid fa-flower"></i></h2>
<!-- Haiku content -->
<p class="text-center">by {{ haiku.author }}</p>
<article class="haiku-content">{{ haiku.content | safe }}</article>

<!-- Like functionality -->
<div class="like-haiku">
    {% if user.is_authenticated %}
    <form class="like-form" action="{% url 'haiku_like' haiku.slug %}" method="post">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="haiku_id" value="{{ post.slug }}" class="like-btn">
                <i class="fa-solid fa-flower"></i>
            </button>
        {% else %}
            <button type="submit" name="haiku_id" value="{{ post.slug }}" class="like-btn">
                <i class="fa-thin fa-flower"></i>
            </button>                
        {% endif %}
    </form>
    <span><i class="fa-thin fa-flower"></i></span>
    {% else %}
    <span class="likes-number">{{ haiku.number_of_likes }}</span>
    {% endif %}
</div>

<!-- Already added tanka extensions -->
<p class="text-center h3 my-4">See how other people continued this poem</p>
    {% for tanka in tankas %}
        {% if tanka.approved %}
            <div class="tanka">
                {{ tanka.body | safe }}
                <div class="tanka-author">
                    by {{ tanka.name }}
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {% if tanka_added %}
        <!-- Alert to wait for tanka approval -->
        <div class="alert alert-success alert-el" role="alert">
            Your tanka is waiting approval
        </div>
    {% else %}

        {% if user.is_authenticated %}

            <!-- Tanka submission form -->
            <p class="text-center mt-5">Add a tanka extension:</p>
            <form method="post" class="tanka-form">
                {{ tanka_form | safe }}
                {% csrf_token %}
                <button type="submit" class="tanka-btn">Submit</button>
            </form>

        {% endif %}

    {% endif %}

{% endblock %}