{% extends "base.html" %}

{% block content %}

<h2>Browse Haikus</h2>

<div class="container-fluid">
    <div class="row d-flex justify-content-evenly">
        {% for haiku in haiku_list %}
        <div class="col-md-5 p-3 m-3 haiku-card">
            <a href="{% url 'haiku_detail' haiku.slug %}">
                <h3>
                    {{ haiku.title }}
                </h3>
                <div class="d-flex justify-content-around">
                    <div class="author">{{ haiku.author }}</div>
                    <div class="tag">TagName</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}