{% extends "base.html" %}

{% block content %}
<div class="container-fluid intro-text">
    <p class="mb-5">
    Do you like poetry and playing with words? Do you enjoy crafting 
    images via verbal means? Then this little site is for you. <br>
    Here you can write your own haikus, read other's and even join in their creative process by 
    extending their haikus into a tanka in a call-and-response fashion. Just 
    <a href="{% url 'account_signup' %}">Sign Up</a> and you're good to go.<br>
    Not familiar with haikus and tanka formats? No worries. Once you're logged in you can head over to the 
    {% if user.is_authenticated %}
    <a href="{% url 'create_haiku' %}">Create page</a>
    {% else %}Create page
    {% endif %} where you'll find simple instructions.<br>
    Happy writing!
    </p>
</div>

<h2>Browse Haikus</h2>

<div class="container-fluid">
    <div class="row d-flex justify-content-evenly">
        {% for haiku in haiku_list %}
        <div class="col-md-5 p-3 m-3 haiku-card">
            <a href="{% url 'haiku_detail' haiku.slug %}" class="haiku-card_link">
                <div>Slug: {{ haiku.slug }}</div>
                <h3>
                    {{ haiku.title }}
                </h3>
                <div class="d-flex justify-content-around">
                    <div class="author">by {{ haiku.author }}</div>
                    <div class="tag-label fw-bold">{{ haiku.tag }}</div>
                </div>
            </a>
            <div class="likes-tankas-numbers mt-2">
                <span class="likes-num">{{ haiku.number_of_likes }}
                    <iconify-icon inline icon="emojione:cherry-blossom"></iconify-icon>
                </span>
                <span class="tankas-num">
                    
                    {{ haiku.tankas.count }}
                    
                    <iconify-icon inline icon="uil:comment-image" style="color: #ff506e;"></iconify-icon>
                    
                </span>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}