{% extends "base.html" %}

{% block content %}

<h2>Browse Haikus</h2>

<div class="container-fluid">
    <div class="row d-flex justify-content-evenly">
        <div class="col-md-5 p-3 m-3 border">
            <article>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quaerat voluptates
                    doloremque. Eum suscipit labore itaque, quidem sapiente distinctio, explicabo ratione,
                    reprehenderit consequuntur aliquid quia molestias neque sit blanditiis tempore minus?
                    Accusantium incidunt tempore facilis vitae rem quae sint sapiente vero sed, eligendi
                    quaerat
                    necessitatibus veniam minus, rerum exercitationem natus!</p>
            </article>
        </div>
        <div class="col-md-5 p-3 m-3 border">
            <article>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore quaerat voluptates
                    doloremque. Eum suscipit labore itaque, quidem sapiente distinctio, explicabo ratione,
                    reprehenderit consequuntur aliquid quia molestias neque sit blanditiis tempore minus?
                    Accusantium incidunt tempore facilis vitae rem quae sint sapiente vero sed, eligendi
                    quaerat
                    necessitatibus veniam minus, rerum exercitationem natus!</p>
            </article>
        </div>
    </div>
</div>

{% endblock %}